<%= form_for @blog, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :title, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :title, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :content, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :content, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pic_filename, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :pic_filename, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pic_content_type, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :pic_content_type, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pic_file_size, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :pic_file_size, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pic_updated_at, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.datetime_select :pic_updated_at, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  blogs_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
