<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @blog.content %>
</p>

<p>
  <strong>Pic filename:</strong>
  <%= @blog.pic_filename %>
</p>

<p>
  <strong>Pic content type:</strong>
  <%= @blog.pic_content_type %>
</p>

<p>
  <strong>Pic file size:</strong>
  <%= @blog.pic_file_size %>
</p>

<p>
  <strong>Pic updated at:</strong>
  <%= @blog.pic_updated_at %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
